/node_modules
/public/hot
/public/storage
!/storage/app/public/data-profildesa/.gitignore
!/storage/app/public/data-profildesa/thumb/.gitignore
!/storage/app/public/data-desawisata/.gitignore
!/storage/app/public/data-desawisata/thumb/.gitignore
!/storage/app/public/data-video/.gitignore
!/storage/app/public/data-video/thumb/.gitignore
!/storage/app/public/kat-page/.gitignore
!/storage/app/public/avatar/.gitignore
!/storage/app/public/slider/.gitignore
/public/css
!/public/css/custom.min.css
!/public/css/custom.css
!/public/js/*.js
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node_modules
*.code-workspace

lorem\.txt
